body {
    background-image: linear-gradient(to bottom, rgb(0,191,255), rgb(0, 78, 114) );
    background-attachment: fixed;
}

.logo-nav {
 width: 60px;
 height: 60px;
 border-radius: 50%;
 box-shadow: 0 0 4px rgb(0, 0, 0);
}

.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    transition: transform .3s;
}

.nav-item:hover {
    transform: scale(1.1);
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

div#Principal {
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    
}

.card-img {
    box-shadow: 0 0 4px rgb(0, 0, 0);
    border-radius: 15px;
    width: 250px;
    height: 150px;
    float: left;
    transition: transform .3s;
}

.card-img:hover {
    transform: scale(1.1);
}

.figure {
    margin-right: auto;
    margin-left: 15px;
}

.rodape {
    margin-top: 15%;
    margin-left: 45%;
    width: 10%;
    height: 50%;
}