header {
    background: #87D8FA;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

img {
    width: 150px;
    height: 150px;

    background: url(image.png);
    border-radius: 75px;
}

#divpesquisa input {
    position: absolute;
    width: 400px;
    height: 35px;
    left: 200px;
    top: 100px;
    border: none;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

#txtpesquisa {
    padding-left:10px;
    font-size:18px;
    border:none;
}
#divpesquisa button {
    position: absolute;
    left: 570px;
    top: 100px;
    width: 47px;
    height: 37px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;

}

nav {
    position: absolute;
    top: 40px;
    left: 200px;
}

nav li {
    display: inline;
    margin: 0 60px 0 20px;
}

nav a {
    font-size: 24px;
    text-decoration: none;
    color: #333333;
}

main {
    background: #87D8FA;
    margin-top: 20px;
    padding: 160px 0;
}

.caixa2 {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

footer {
    background: #87D8FA;
    margin-top: 20px;
    padding: 20px 0;
}